#addEntryArea label
{
    width: 4.5em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

#addEntryArea #buttons
{
    float: right;
    align: right;
}

#addEntryArea input
{
    color: #781351;
    background: #e3f0f7;
    border: 1px solid #4a70aa;
    width: 25%;
}

#addEntryArea textarea
{
    color: #781351;
    background: #e3f0f7;
    border: 1px solid #4a70aa;
    width: 98%;
    margin-left: 4px;
    margin-right: 4px;
}

#addEntryArea fieldset
{
    border: 1px solid #4a70aa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#addEntryArea legend
{
    color: #000000;
    background: #e3f0f7;
    border: 1px solid #4a70aa;
    padding: 2px 6px
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}


.ui-widget
{
    font-family: "Ubuntu";
    font-size: 10pt;
}

.ui-autocomplete-loading
{
    background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}
