@font-face
{
    font-family: Ubuntu;
    src: local('Ubuntu'),
    local('Ubuntu-Regular'),
    url('http://themes.googleusercontent.com/font?kit=2Q-AW1e_taO6pHwMXcXW5w') format('truetype');
}

body
{
    font-family: "Ubuntu", sans-serif;
    font-size: 10pt;
    margin: 0 0 0 0;
}

.header
{
    background-color: #d3d3d3;
    background-image: url('../images/headback.png');
    background-position: right top;
    height: 130px;
    margin-bottom: 20px;
}

.header img
{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

#appname
{
    font-family: "Ubuntu", sans-serif;
    font-size: 28pt;
}

#appname #ka
{
    font-weight: normal;
    color: #191970;
}

#appname #pfm
{
    font-size: medium;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
}

#username
{
    float:right;
}

#sidebar
{
    display: inline-table;
    vertical-align: top;
    width: 140px;
}

#labelslist
{
    display: table;
    width: 100%;
}

#labelslist tr:nth-child(2n) td
{
    background-color: #f7f7f7;
}

#mylabels
{
    width: 100%;
}

.aLabel
{
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    display: block;
    background-color: #fff5ee;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #dcdcdc;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.2em;
    cursor: default;
}

.aLabel:hover
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    background-color:#dfdfdf;
}

.aLabel:active
{
    position:relative;
    top:1px;
}

.midpage
{
    display: inline-block;
}

.midpage table#totalTable
{
    display: inline;
    float: right;
}

.midpage table#totalTable *
{
    display: inline;
}

.midpage table#expensesTable
{
    border-spacing: 0;
    border-collapse: collapse;
    width: 900px;
}

.midpage #expensesTable th
{
    text-align: center;
    font-weight: bold;
    padding: 2px;
    border: 2px solid #FFFFFF;
    background: #4a70aa;
    color: #FFFFFF;
}

.midpage #expensesTable td {
    text-align: center;
    padding: 2px;
    border: 2px solid #FFFFFF;
    background: #e3f0f7;
    cursor: default;
}

#expensesTable tr:nth-child(2n) td
{
    background-color: #f7f7f7;
}

#expensesTable td.description
{
    width: 60%;
    text-align: left;
}

#expensesTable td.amount
{
    text-align: right;
}

#expensesTable tbody tr:hover *
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    background-color:#dfdfdf;
}

#expensesTable tbody tr:active *
{
    position:relative;
    top:1px;
}

.myButton
{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:"Ubuntu", sans-serif;
    font-size:14px;
    font-weight:bold;
    padding:4px 18px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    cursor: default;
}

.myButton:hover
{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    background-color:#dfdfdf;
}

.myButton:active
{
    position:relative;
    top:1px;
}

#clearFilterButton
{
    display: none;
}

#addEntryArea
{
    display: none;
}

.caption
{
    text-align: left;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    display: block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #4a70aa;
    height: 1.5em;
}

#total
{
    float: right;
}

#totalValue
{
    font-weight: bold;
}

#toolbar
{
    margin: 4px 4px 4px 4px;
}